build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
CTestTestfile.cmake
Testing/
_deps/
generated/

*.o
*.a
*.so
*.d
*.log

accel/*.log

certs/*.key
certs/*.srl
certs/*.csr
certs/*.ext

.cache/
.vscode/
